<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>文章详情页 -- sblog</title>

	<!-- Bootstrap -->
	<link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">

</head>

<body>
	<!-- 导航 -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" href="#">Sblog -- 编程不易</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
				aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="#">登录</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- 页面主体 -->
	<div class="container">

		<div class="row">

			<!-- Post Content Column -->
			<div class="col-lg-8">

				<!-- 标题 -->
				<h4 class="mt-4">研究人员首次拍摄到野狼捕食淡水鱼的画面</h4>

				<!-- Date/Time -->
				<ul class="list-group list-group-horizontal">
					<li class="list-group-item pl-0 border-0 bg-transparent">2021-04-17 15:26</li>
					<li class="list-group-item pl-0 border-0 bg-transparent">浏览 206</li>
					<li class="list-group-item pl-0 border-0 bg-transparent">评论 206</li>
					<li class="list-group-item pl-0 border-0 bg-transparent">编辑</li>
					<li class="list-group-item pl-0 border-0 bg-transparent">删除</li>
				</ul>

				<hr class="mt-0">

				<!-- Post Content -->
				<p>据外媒The Verge报道，近日明尼苏达大学Voyageurs狼项目的研究人员拍摄到了野狼捕食淡水鱼的画面。
					研究人员已将相关视频发布在YouTube上。该项目的研究人员诱捕了一只孤狼V089，给它注射了镇静剂，然后绑上了
					Vectronic-Aerospace相机项圈。项圈在白天的时候以30秒为单位连续录制视频，每天共录制7分钟。</p>

				<p>“直到最近，人们还不知道狼会捕食淡水鱼，”研究人员Thomas Gable告诉Gizmodo。几年前，Voyageurs狼项目记录了
					一个狼群捕食杀淡水鱼的情况，但认为这只是一个奇怪的怪癖。"事实上，这只狼开始这样做，证明这不是一次性的事情。"</p>

				<p>据外媒The Verge报道，近日明尼苏达大学Voyageurs狼项目的研究人员拍摄到了野狼捕食淡水鱼的画面。
					研究人员已将相关视频发布在YouTube上。该项目的研究人员诱捕了一只孤狼V089，给它注射了镇静剂，然后绑上了
					Vectronic-Aerospace相机项圈。项圈在白天的时候以30秒为单位连续录制视频，每天共录制7分钟。</p>

				<blockquote class="blockquote">
					<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
						ante.</p>
					<footer class="blockquote-footer">Someone famous in
						<cite title="Source Title">Source Title</cite>
					</footer>
				</blockquote>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, nostrum, aliquid, animi, ut quas
					placeat totam sunt tempora commodi nihil ullam alias modi dicta saepe minima ab quo voluptatem
					obcaecati?</p>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dolor quis. Sunt, ut, explicabo,
					aliquam tenetur ratione tempore quidem voluptates cupiditate voluptas illo saepe quaerat numquam
					recusandae? Qui, necessitatibus, est!</p>

				<hr>

				<!-- Comments Form -->
				<div class="card my-4">
					<h5 class="card-header">发表评论:</h5>
					<div class="card-body">
						<form>
							<div class="form-group">
								<textarea class="form-control" rows="3"></textarea>
							</div>
							<button type="submit" class="btn btn-success">提交</button>
						</form>
					</div>
				</div>

				<!-- Single Comment -->
				<div class="media mb-4">
					<img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
					<div class="media-body">
						<h5 class="mt-0">清风拂面</h5>
						月薪一个20w一个12w，年薪一个240w一个144w，结果遇到亲自跟进的项目，这也不知道那也不知道，
						2600w(344w美元)的项目机器还要申请特价，只卖了115w美元，这是帮着中间商赚自己公司的差价啊。
						这样的蛀虫不开除还留着过年吗?
					</div>
				</div>

				<div class="media mb-4">
					<img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
					<div class="media-body">
						<h5 class="mt-0">清风拂面</h5>
						月薪一个20w一个12w，年薪一个240w一个144w，结果遇到亲自跟进的项目，这也不知道那也不知道?
					</div>
				</div>

				<div class="media mb-4">
					<img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
					<div class="media-body">
						<h5 class="mt-0">清风拂面</h5>
						月薪一个20w一个12w，年薪一个240w一个144w，结果遇到亲自跟进的项目，这也不知道那也不知道，
						2600w(344w美元)的项目机器还要申请特价，只卖了115w美元，这是帮着中间商赚自己公司的差价啊。
						这样的蛀虫不开除还留着过年吗?
					</div>
				</div>

			</div>

			<!-- Sidebar Widgets Column -->
			<div class="col-md-4">

				<!-- 标签部件 -->
				<div class="card my-4">
					<h5 class="card-header">博文分类</h5>
					<div class="card-body">
						<div class="row">
							<div class="col-lg-6">
								<ul class="list-unstyled mb-0">
									<li>
										<a href="#">页面设计</a>
									</li>
									<li>
										<a href="#">HTML</a>
									</li>
									<li>
										<a href="#">生活杂谈</a>
									</li>
								</ul>
							</div>
							<div class="col-lg-6">
								<ul class="list-unstyled mb-0">
									<li>
										<a href="#">JavaScript</a>
									</li>
									<li>
										<a href="#">CSS</a>
									</li>
									<li>
										<a href="#">Tutorials</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<!-- Side Widget -->
				<div class="card my-4">
					<h5 class="card-header">近30天阅读量最高</h5>
					<div class="card-body">
						<div class="row">
							<div class="col">
								<ul class="list-unstyled mb-0">
									<li>
										<span class="pr-2">1.</span><a href="#">更名小米11X系列 Redmi K40系列即将登陆印度市场</a>
									</li>
									<li>
										<span class="pr-2">2.</span><a href="#">跌落神坛的上网本：曾认为会颠覆笔记本行业</a>
									</li>
									<li>
										<span class="pr-2">3.</span><a href="#">研究估计在白垩纪时期的北美洲 大约每38.6平方英里就有一只霸王龙</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>
		<!-- /.row -->

	</div>
	<!-- /.container -->

	<!-- Footer -->
	<footer class="py-5 bg-dark">
		<div class="container">
			<p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
		</div>
		<!-- /.container -->
	</footer>

	<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
	<script src="lib/jquery/jquery.min.js"></script>
	<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
	<script src="lib/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>